# Virtual environment
.venv/

# Data
data/

# Python cache files
__pycache__/
*.py[cod]

# Poetry files
poetry.lock
.pytest_cache/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Dist
dist/

# html coverage
.coverage
htmlcov/

# redshifts
config/

# Other
*.log
notebooks/
sas_docker_setup.md