# Virtual environment
.venv/

# Data
data/

# Python cache files
__pycache__/
*.py[cod]

# Poetry files
.pytest_cache/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Dist
dist/

# html coverage
.coverage
htmlcov/

# redshifts
config/

# Other
*.log
notebooks/
sas_docker_setup.md
.github/copilot-instructions.md
src/xmm_py_spec/file_naming.py